.listingPage {
  display: flex;
  height: 100%;

  // .wrapper{
  //     padding-right: 50px;

  // }
  .listContainer {
    flex: 3;
    // testbackground-// color: rgb(245, 245, 245);

    .wrapper {
      height: 100%;
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 45px;
      // to allow to scroll
      overflow-y: scroll;
      padding-bottom: 30px;
    }
  }
  .mapContainer {
    flex: 2;
    height: 100%;
    // testbackground-// color: rgb(224, 221, 221);
  }
}
