.update-property {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    // testbackground-color: #fff;

    h1 {
        text-align: center;
       // color: #333;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 15px;

        input {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;

            &:focus {
                border-color: #4CAF50; // Highlight color
                outline: none;
            }
        }

        button {
            padding: 10px;
            // testbackground-color: #4CAF50; // Green
            // color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;

            &:hover {
                // testbackground-color: #45a049; // Darker green on hover
            }
        }
    }

}
    .thumbnail {
        width: 100px;
        height: auto;
        border-radius: 5px;
    }