.properties-page {
  // background: linear-gradient(to right, #f8f9fa, #e9ecef);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  h1 {
    font-size: 3rem; // Increased font size
    text-align: center;
   // color: #ffffff; // White text color for contrast
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); // Text shadow for a bolder effect
  }

  .PropertiesContainer {
    margin-left: 10px;
    padding: 20px;
  }
  
  .header-banner {
    background: linear-gradient(to right, #007bff, #00aaff); // Blue gradient background
    // color: white;
    padding: 40px 20px;
    text-align: center;
    margin-bottom: 40px; // Space between the banner and content
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    h1 {
      font-size: 3rem;
      font-weight: 700;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    }
  }
}
